extends layout 
block content 
    header.card-header 
        h4.card-title Add Employee (Driver or Condutor)
    form(method="POST" action= '/createEmployee') 
        div.form-row
            div.col.form-group
                label First Name
                input.form-control(name='')
            div.col.form-group
                label First Name
            div.col.form-group
                label First Name